.button {
  width: 90%;

  border-style: none;
  border-radius: .5rem;
  padding: 1rem;

  font-size: 1rem;
  font-weight: bold;

  background-color: #BB86FC;
  color: #fff;

  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.button:hover {
  opacity: .5;
}