.button {
  width: 90%;

  border-radius: var(--border-radius);
  padding: 1rem;

  font-size: 1rem;
  font-weight: bold;

  background-color: var(--purple-color);
  color: var(--primary-color);

  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.button:hover {
  opacity: .5;
}
