:root {
  --background-color: #F6F6F6;
  --primary-color: #4695DD;
  --font-color-dark: #1C1C1C;
  --font-color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  font-size: 62.5%;
  color: var(--font-color-light);
}
